@import "https:// cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap');
ul {
  list-style-type: none;
  margin: -10px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  height: 50px;
}

* {
  text-align: justify;
  font-family: 'Noto Sans JP', sans-serif;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  float: left;
}

li a:hover:not(.active) {
  background-color: #111;
}

.line-right {
  border-right: 2px solid black;
}

body {
  background-image: url('https://cdn.wallpapersafari.com/26/78/mWASpz.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

#activePlants{
	text-decoration: none
}

.right {
  float: right;
}

.left {
  float: left;
  padding: 30px;
}

#info {
  margin-left: 50px;
  margin-right: 50px;
}

button {
	width:100%;
	height:65px;
	border-radius: 8px;
  text-align:center;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

p{
  font-size: 25px;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  color:#113E5C;
}

h1{
  font-size: 40px;
  color:#113E5C;
}

.countryImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-top: 50px;
  margin-bottom: 30px;
  object-fit: fill;
}

.countryText {
  color: white;
  font-size: 18px;
}

.countryInput {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.countryButton {
  margin-top: 10px;
	width:20%;
	height:65px;
	border-radius: 8px;
  text-align:center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

.centerbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

.centerContactUs {
  margin-top:150px; 
  text-align:center;
  margin:10% 30% 0% 30%;
}
label{
  font-size:24px;
  color:#113E5C;
}
.contactInput{
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    margin-top:5px;
    margin-bottom:15px;
}
.contactButton{
  margin-top:5%;
  margin-left:30%;
  font-size:30px;
  color:#113E5C;
  width:300px;
}